<!DOCTYPE html>
<html>
<head>
  <title>MeetupAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="user-nav">
      <%= link_to "Sign in with Meetup", "/auth/meetup" %>
    </div>
  </div>
<%= yield %>

</body>
</html>
